/* GENERAL CONDUCT */
body {
    background-image: url('erobotbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}
    
.header {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.header-image {
    max-width: 50%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    margin: 20px;
}

.card {
    background-color: #fafafafa;
    color: #00008b;
    border-radius: 35px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.icon {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
}

p {
    margin-bottom: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .card {
        width: 50%;
    }
}
